<!--<p>&copy; <script> document.write(new Date().getFullYear()) </script>-->
<!--Himanshu Dhakrey</p>-->
<!--<footer>-->
<!--  <p>Contact information: <a href="mailto:himanshudhakrey2014@gmail.com">-->
<!--  himanshudhakrey2014@gmail.com</a>.</p>-->
<!--</footer>-->
</body>
</html>