<html>
<head>
<title>Simple Metro Weather Widget Flat Responsive Widget Template</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Simple Metro Weather Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script> 
<!-- //js --> 
<!-- font-awesome icons -->
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css" />
<!-- //font-awesome icons -->
<link href="/public/stylesheets/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
<link rel ="/stylesheets" href ="/public/stylesheet/main.css" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
</head>
<body>